* { box-sizing: border-box;}

:root {
  font-size: 125%;
}

body {
  color: #333;
  font-family: 'Merriweather', serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:link, a:visited, a:active {
  color: #999;
}

footer {
  text-align: center;
}